<html ng-app="counterApp">
<head>
    <title>Simple Counter with ctrl in AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
    <div ng-controller="CounterController as ctrl">
    <h1>Counter Example</h1>
    <p>Current Count: {{ ctrl.count }}</p>
    <button ng-click="ctrl.increment()">Increment</button>
    <button ng-click="ctrl.decrement()">Decrement</button>
    </div>
    <script src="app.js"></script>
</body>
</html>
